{{ form_start(formSkill) }}

    <div class="row">
        <div class="col s3">
            {{ form_label(formSkill.name, 'Nom') }}
            {{ form_widget(formSkill.name) }}
        </div>
        <div class="input-field col s6">
            <select name="type" id="typeSelect">
                {% for type in constant('App\\Entity\\Skill::TYPE') %}
                    {{ type }}
                    <option value="{{ loop.index }}">{{ type }}</option>
                {% endfor %}
            </select>
            <label>Type</label>

        </div>
        <div class="col s6">
            {{ form_label(formSkill.logo, 'Logo URL') }}
            {{ form_widget(formSkill.logo) }}
        </div>
    </div>

    <button class="waves-effect waves-light btn-small blue lighten-2">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(formSkill) }}
