{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}


    <div class="container">
        <div class="row descriptionPart">
            <div class="col s12">
                <h4>A PROPOS</h4>
                <p>{{ user.introduction }}</p>
            </div>
        </div>

        <div class="row">

            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#Education" class="active blue-text text-darken-2">Formations</a></li>
                    <li class="tab col s3"><a href="#Experience" class="blue-text text-darken-2">Expériences Professionnelles</a></li>
                    <li class="tab col s3"><a href="#Projects" class="blue-text text-darken-2">Projets</a></li>
                    <li class="tab col s3"><a href="#Skills" class="blue-text text-darken-2">Compétences</a></li>
                </ul>
            </div>

            <div id="Education" class="col s12">
                <ul class="collection">
                    {% for education in educations %}
                    <li class="collection-item">
                        <h5>{{ education.title }}</h5>
                        <div class="row">
                            <div class="col s12">
                                <p class="boldText">{{ education.school }}</p>
                                <p class="italicText"> {{ education.beginDate ? education.beginDate|date('M Y') : '' }} - {{ education.endDate ? education.endDate|date('M Y') : '' }}</p>
                                <p>{{ education.description }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>


            <div id="Experience" class="col s12">
                {% for experience in experiences %}
                <div class="row">
                    <div class="col s6 offset-s3">
                        <div class="card horizontal">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h5>{{ experience.post }}</h5>
                                    <p class="boldText">{{ experience.company }}</p>
                                    <p>{{ experience.description }}</p>
                                </div>
                                <div class="card-action">
                                    <p class="italicText">{{ experience.beginDate ? experience.beginDate|date('M Y') : ''  }} - {{ experience.endDate ? experience.endDate|date('M Y') : '' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <div id="Projects" class="col s12">
                <div class="row">
                    {% for project in projects %}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image">
                                <img alt="screenshot project" src="{{ project.picture }}">
                                <a href="{{ project.gitHubLink }}" target="_blank" class="btn-floating btn-large halfway-fab waves-effect waves-light large red"><i class="fab fa-github"></i></a>
                            </div>

                            <div class="card-content">
                                <span class="card-title projectTitle valign-wrapper">{{ project.title }}</span>
                                <p>{{ project.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div id="Skills" class="col s12">Test 4</div>
        </div>
    </div>

{% endblock %}
