{% extends 'baseAdmin.html.twig' %}

{% block title %}PF Project{% endblock %}

{% block body %}
    <h1>Projet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ project.title }}</td>
            </tr>
            <tr>
                <th>Technologies</th>
                <td>{{ project.technology }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ project.picture }}</td>
            </tr>
            <tr>
                <th>Lien GitHub</th>
                <td>{{ project.gitHubLink }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_index') }}" class="waves-effect waves-light btn-small blue lighten-2">Retour</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}" class="waves-effect waves-light btn-small blue lighten-2">Modifier</a>

    {{ include('adminInterface/project/_delete_form.html.twig') }}
{% endblock %}
